<p-accordion>
  <p-accordionTab header="Header 1" [selected]="true">
    <ng-template pTemplate="content">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
      <div class="p-float-label">
        <input id="float-input" type="text"  formControlName="fName" pInputText> 
        <label for="float-input">First Name</label>
    </div>
    <br/>
    <br/>
    <div class="p-float-label">
      <input id="float-input" type="text"  formControlName="lName" pInputText> 
      <label for="float-input">Last Name</label>
  </div>
  <br/>
  <br/>
  <div class="p-float-label">
    <input id="float-input" type="email"  formControlName="email" pInputText> 
    <label for="float-input">Email</label>
</div>
<br/>
<br/>
<div>
  <p-radioButton  formControlName="sex" name="groupname" value="male"></p-radioButton> Male
<p-radioButton formControlName="sex"  value="female"></p-radioButton> Female
</div>
<br/>
<button pButton type="submit" class="p-button-info">Submit</button>
</form>

    </ng-template> 
  </p-accordionTab>
  <p-accordionTab header="Header 2">
    <ng-template pTemplate="content">It is a long established fact that a reader will be distracted by 
      the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that 
      it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
      content here', making it look like readable English.</ng-template> 
  </p-accordionTab>
  <p-accordionTab header="Header 3">
    <ng-template pTemplate="content">It is a long established fact that a reader will be distracted by 
      the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that 
      it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
      content here', making it look like readable English.</ng-template>  
  </p-accordionTab>
</p-accordion>
